$pink-color: #d9828e;
$blue-color: rgb(0, 206, 178);
$background-smoke: #f0f0f0;
body {
    height: auto;
    background-color: $background-smoke;
    position: relative;
    .container {
        width: 400px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        .content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .preview {
            width: 50%;
            margin: 30px 10px 10px 10px;
            border-radius: 8px;
            overflow: hidden;
        }
    }
}