._4sp8 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    max-height: 100vh;
    box-sizing: border-box;
}

._1enh._7q1s,
._673w._6ynl,
._4_j5 {
    backdrop-filter: blur(10px);
    background: #ffffff5c;
    border-radius: 10px;
    overflow-y: hidden;
}

._6-xk {
    background-color: white;
}

._1t2u._7sli {
    margin-left: 10px;
    border: none;
    overflow: hidden;
}

._20bp {
    margin-top: 10px;
}

._1ht3 ._1htf._6zke {
    background: deeppink;
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
}

._1ht3 ._1ht6._7st9 {
    background: salmon;
    border-radius: 5px;
    padding: 2px 5px;
    margin-bottom: 5px;
    color: white;
}

._1jt6._710_ {
    padding: 14px;
    background: white;
}

._3tkv {
    padding-top: 0 !important;
}

._4rv3._7og6 {
    border-radius: 5px;
    overflow: hidden;
}

._5irm._7mkm {
    background-color: transparent !important;
}

._7kpk {
    background-color: rgba(235, 49, 49, 0.42) !important;
}

._1mf._1mj {
    color: white;
}

._1htf {
    color: white !important;
}